
.Body {
  width: 100%;
  height:100%;
 flex: 1;
 position: fixed;
 top: 0;
 left: 0;
 background-repeat: no-repeat;
  background-size: 100% 100%;
  
  position: fixed;
  top: 0;
}

.Form {
  background-color: rgb(8, 125, 243);
  text-align: center;
  text-justify: center;
  color: #ffff;
  padding: 20px;
  margin: 10% auto;
  width: 70%;
  height: 80%;
  border-radius: 15px;
}

.Button {
  cursor: pointer;
  color: black;
  border-radius: 20px;
  padding: 10px;
  width: 50%;
  border: solid rgb(10, 5, 82);
  
  text-size-adjust: 100%;
  font-weight: 900px;
  flex: 2;
}

.Input {
  border-radius: 20px;
  padding: 10px;
  margin: 10px 0;
  width: 80%;
  border: 1px solid #999;
  outline: none;
}

